#m_ver_menu.m-aside-menu.m-aside-menu--skin-dark.m-aside-menu--submenu-skin-dark[m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;"]
  ul.m-menu__nav.m-menu__nav--dropdown-submenu-arrow
    = render 'shared/menu/dashboard'
    = render 'shared/menu/link'
